header{
  background:Black;
  color: #f5f3f5;
  padding: 20px;
  text-align: center ;

}

body{
  background: beige;
}

a1 {
  border: 3px solid white;
  padding: 1px 15px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 15px;
  text-align: center;

}
nav ul{

  list-style-type: none ;
  width: 95%;
  text-align: center;
}

nav li{
  display: inline-flex;
}

nav a{
  color:#darkblue;
  text-decoration:none;
  padding: 10px;
  width: 170px;
}

nav a:hover{
  color: #d5b942;

}

header h1{
  font-family: "sans-serif;", cursive ;
  padding: 20px;
}

header nav{
  font-family: "Pacifico", cursive;
  font-weight:400;
  font-style: normal;
}

main{
  font-family: "Shadows Into Light",cursive;
  max-width:1000px ;
  margin:20px auto;
  padding:0 20px;
}

.lista-productos{
  display: flex;
  flex-wrap: wrop;
  justify-contet: space-between;
}

.productos{
  width: 30%; 
  background-color: #fff;
  padding:20px 5px 20px 5px;
  margin: 20px;
  box-shadow:0 0 10px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.8s ease-in-out;
}

.productos:hover{
  box-shadow: 0 0 30px rgba(255, 0, 0, 0.8);
}

.productos img{
  width:220px;
  height:220px;
  display: block;
  transition: tranform 0.6s ease-in-out;
  margin: 0 auto 10px;
}

.productos:hover img{
  transform: scale(1.1);
}

.productos button{
  display:block;
  margin: 8% auto;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.productos button:hover{
  background-color:#549f93 ;
}

footer{
  background-color: black ;
  color:#f5f3f5;
  display:flex;
  justify-content: space-around ;
  padding: 20px;
  flex-wrap: wrap;
  font-family: "sans-serif";
  font-size:20px;

}

.links-informativos{
  width: 400px;
}

.links-informativos ul{
  list-style: none;
  margin:0;
  padding: 0;
}

.links-informativos li a{
  text-decoration: none;
  color:#f5f3f5 ;

}

*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

.redes-sociales{
  width: 300px;
}

.redes-sociales img {
  width: 50px;
  height: 50px;
  margin: 10px;
}
.redes-sociales li{
  display: inline-block;
  margin-right: 10px;
}
.redes-sociales img:hover{
  transform: scale(1.1);
}

.info-contacto{
  width: 500px;
  text-align: right;
  font-size: right;
  font-size: 20px;


}

/este es un identificador/

#ProductosDestacados{
  color: darkblue;
}

#ProductosDestacados:hover{
  color: #549f93;
}

#acosa:hover{
  color: #549f93;
}

#TodosProductos:hover {

   color: #549f93;
}

#OtrosProductos:hover {

  color: #549f93;

}

p1{
  margin-right: 95px;
}


